*{
    margin: 0;
    padding: 0;
 
}



.div-header{
    display: flex;
     background-color: #479dd2;
     height: 80px;
     width: 100%;
     justify-content: center;

}
header{
    display: flex;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: start;
    width: 1000px;
    gap: 30px;
}
.header-imglogo{
    display: flex;
    align-items: center;
    height: 100%;

}
.header-nav{
    display: flex;
    align-items: center;
    width: max-content

}
.nav-header{
    width: max-content;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 350px;
}
.nav-a{
   font-family: sans-serif;
   text-decoration: none;
   color: #ffffff;
   font-size: 17px;
   transition: all 0.3s ease 0s;
}
.nav-a:hover{
    color: rgb(216, 237, 255);

}
.imglogo{
    height: 50px;
}
.form-div{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    
}
.form-div-post{
    background-color: #ffffff;
    height: max-content;
    
    border-radius: 15px;
    border: 1px solid #479dd2;
    box-shadow: 0px 4px 24px -14px rgba(71,157,210,0.75);
    
   
}

.form-post{
    padding: 30px 30px 20px;
    width: min(75vw,400px);
    
}
.form-post-{
    padding: 25px 0px;
}.form-post-.tittle{
    padding: 0px 0px 25px;
}.form-post-.send{
    padding: 25px 0px 0px;
    
}
input{
    
    width: 100%;
    height:20px;
    border-radius: 0px;
    border: none;
    margin-top: 5px;
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    border-bottom: 1px solid #a7ddff;
    
    
}
input:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent transparent #a7ddff transparent !important;
   
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      box-shadow: 0 0 0 30px white inset !important;
  }
.input-enviar{
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button.input-enviar:hover{
 color: #ffffff;
 
}
textarea{
    margin-top: 5px;
    height: 20px;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #a7ddff;
    width: 100%;
    resize: none; 
    white-space: nowrap;
    overflow:hidden;
   
}
textarea:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent transparent #a7ddff transparent !important;
   
  }
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover, 
  textarea:-webkit-autofill:focus, 
  textarea:-webkit-autofill:active{
      box-shadow: 0 0 0 30px white inset !important;
  }
.form-post-div-h1{
    text-align: center;
    
    margin-bottom: 25px;

}
h1{
    font-family: 'Comfortaa', cursive;
    color: #479dd2;
    margin-bottom: 5px;
    font-weight: 100;
    border-bottom: 2px solid #479dd2;
    width: 65px;
}
p{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #479dd2
}
.p-send{
    margin-top: 30px;
    

}
button{
    
cursor: pointer;
   width: 100%;
   height: 50px;
   border: 1px solid #479dd2;
   border-radius: 1em;
   transition: all 0.3s ease 0s;
   background-color: #f9f9f9;
   
   
}
button:hover {
    background-color: #479dd25f;
    
    
}
button:hover .input-enviar{
    color: #ffffff;
  
}


@media(max-width:480px){
    nav{
        display: none;
    }
}